<!-- products/index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="/styles/product-admin.css">
        <title>LeeRoy's Pets N' More Products</title>
        <script>
            function addToCart(product) {
                console.log(product);
                fetch('/addToCart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ product }),
                })
                .then(response => {
                    if(!response.ok) {
                        throw new Error(`HTTP Error! Status: ${response.status}`)
                    }
                })
            }

            function product_clicked(product_id) {
                var checkbox = document.getElementById(`checkbox${product_id}`);
                
                if(checkbox.checked) {
                    console.log(`add to active ${product_id}`);
                    fetch('/showToProducts', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({product_id}),
                    })
                    .then(response => {
                        if(!response.ok) {
                            throw new Error(`HTTP Error! Status: ${response.status}`)
                        }
                    })
                } else {
                    console.log(`remove from active ${product_id}`);
                    fetch('/hideFromProducts', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({product_id}),
                    })
                    .then(response => {
                        if(!response.ok) {
                            throw new Error(`HTTP Error! Status: ${response.status}`)
                        }
                    })
                }
            }
            
        </script>
    </head>
    <body>
        <div>
            <h1 class="centered-title">Product Page</h1>
            <h2 class="centered-title">Check out all our products</h2>    
        </div>
        <div class="navbar">
            <span><a href="/">Home</a></span>
            <span><a href="/product">Products</a></span>
            <span><a href="/checkout">Checkout</a></span>
        </div>
        <div class="greybox-container">
            <div class="greybox">
                <div class="container">
                    <ul class="product-list">
                        <% products.forEach(product => { %>
                            <% if(product.display) { %>
                                <li class="product-list-item">
                                    <span><img class="image-text" src="<%=product.image%>" alt="<%= product.description%> Image"></span>
                                    <span class="product-text"><%= product.description %></span>
                                    <span class="price-text">$<%= product.price %></span>
                                    <span><input id="checkbox<%=product.id%>" type="checkbox" onclick="product_clicked('<%=product.id %>')" checked></span>
                                </li>
                            <% } else { %>
                                <li class="product-list-item">
                                    <span><img class="image-text" src="<%=product.image%>" alt="<%= product.description%> Image"></span>
                                    <span class="product-text"><%= product.description %></span>
                                    <span class="price-text">$<%= product.price %></span>
                                    <span><input id="checkbox<%=product.id%>" type="checkbox" onclick="product_clicked('<%=product.id %>')"></span>
                                </li>
                            <% } %>
                        <% }); %>
                    </ul>
                </div>
            </div>
            <div class="greybox">
                <h2>Create a new item</h2>
                <form>
                    <label>Name: </label>
                    <input type="text" id="product-description" required>
                    <br>
                    <label>Price: </label>
                    <input type="text" id="product-description" required>
                    <br>
                    <label>Image: </label>
                    <input type="text" id="product-description" required>
                    <br>
                </form>
            </div>
        </div>
        
      </body>
</html>
